@import "./css/variable.css";
@import "./css/components/button.css";
@import "./css/components/toast.css";
@import "./css/components/write-form.css";
@import "./css/screen/list.css";
@import "./css/screen/home.css";
@import "./css/screen/detail.css";
@import "./css/screen/navi.css";
@import "./css/screen/login.css";
@import "./css/screen/join.css";
@import "./css/screen/toDo.css";
@import "./css/screen/ai.css";
@import "./css/apple.css";

body {
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333; /* 상속해주는 텍스트 색상*/
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.card {
  margin: 50px auto;
  display: flex;
}

.card img {
  width: 150px;
  margin-right: 20px;
}
