doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
        )
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Document
        link(rel="stylesheet" href="/global.css")

    body
        include nav.pug
        h4 메인페이지+docs
        a.simplebutton-log(href="http://localhost:8080/docs") API docs
